<!-- teacher.html -->
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="my_agreements">
    <!-- Enlaces a archivos CSS -->
        <link rel="stylesheet" th:href="@{/css/roles/teacher/my_agreements.css}">

    <!-- JS -->
    <script th:src="@{/js/_ajaxLibrary.js}"></script>
    <script th:src="@{/js/_modalLibrary.js}"></script>
    <script th:src="@{/js/roles/teacher/my_agreements/_agreement_view.js}"></script>
    <script th:src="@{/js/roles/teacher/my_agreements/_update_agreement.js}"></script>
    <script th:src="@{/js/roles/teacher/my_agreements/_form_handler.js}"></script>
    <script th:src="@{/js/roles/teacher/my_agreements/_upload_data.js}"></script>
    <script th:src="@{/js/roles/teacher/my_agreements/_create_agreement_modal.js}"></script>
    <script th:src="@{/js/roles/teacher/my_agreements/main.js}"></script>

</div>
</html>